.container {
  display: flex;
  height: 100%;
}

.login {
  align-self: center;
  width: 45%;
  text-align: center;
  border: 1px solid black;
}

.register {
  align-self: center;
  width: 45%;
  text-align: center;
  border: 1px solid black;
}
