.contenedor-lupa img {
  display: none;
  width: 40px;
  height: 40px;
}

.contenedor-busqueda {
	position: relative;
}

.resultados-busqueda {
	position: absolute;
	top: 100%;
	left: 0;
	width: calc(100% - 40px);
	height: auto;
	background-color: white;
	z-index: 1;
	padding: 20px;
	border-radius: 5px;
}

.resultados-busqueda:empty {
  display: none;
}

.contenedor-individual {
  width: auto;
  height: 30px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #dddddd;
  margin: 5px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedor-individual:hover {
  background-color: #f0f0f0;
}

.enlace-ruta {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.contenedor-busqueda-full {
  position: absolute;
  width: calc(100% - 30px);
  left: 0px;
}

.contenedor-busqueda-full input {
  position: absolute;
  width: 100%;
  left: 0px;
}

.resultados-busqueda-full {
	position: absolute;
	top: 50px;
	width: calc(100% - 10px);
	background-color: white;
	z-index: 1;
	padding: 20px;
}

.resultados-busqueda-full:empty {
  display: none;
}

@media screen and (max-width: 768px) {
  .contenedor-lupa img {
    display:inline;
  }

  .contenedor-busqueda {
    display: none;
  }
}