.content {
  display: flex;
}

.column-1 {
  width: 80%;
  min-height: 500px;
  background-color: lightblue;
}

.column-2 {
  width: 20%;
  background-color: lightskyblue;
}

@media (max-width: 868px) {
  .content {
    flex-direction: column;
  }

  .column-1,
  .column-2 {
    width: 100%;
  }
}
