.fondo {
  background-image: url(../img/retina_wood.png);
  background-repeat: repeat;
}

.equipaje {
  max-width: 900px;
  margin: 0 auto;
  padding: 30px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
  margin-top: 30px;
  margin-bottom: 30px;
}

h2 {
  font-size: 36px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 30px;
  color: #222;
  text-align: center;
}

ul {
  padding-left: 0;
  list-style: none;
  margin-bottom: 30px;
  width: auto;
}

li {
  font-size: 20px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  background-color: #f9f9f9;
  transition: all 0.1s;
  font-weight: 600;
  color: #222;
  margin: 10px;
  cursor: pointer;
}

li:hover {
  transform: scale(1.03);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

li input[type="checkbox"] {
  width: 25px;
  height: 25px;
  margin: 10px;
}

li p {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

label {
  font-size: 20px;
  font-weight: 600;
  color: #222;
  margin-bottom: 10px;
  cursor: pointer;
}

form input[type="text"] {
  padding: 15px 20px;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  width: 100%;
  box-sizing: border-box;
  background-color: #f9f9f9;
  color: #444;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  margin-bottom: 20px;
  transition: all 0.1s;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

button[type="submit"] {
  padding: 15px 30px;
  font-size: 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 20px;
  transition: all 0.1s;
}

button[type="submit"]:hover {
  background-color: #0062cc;
}

@media only screen and (max-width: 768px) {
  h2 {
    font-size: 28px;
  }
  
  li {
    font-size: 18px;
  }
  
  input[type="text"] {
    font-size: 18px;
    padding: 10px 15px;
  }

  button[type="submit"] {
    font-size: 18px;
    padding: 12px 24px;
  }
}

.btn-eliminar {
  background-color: red;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
  margin: 10px;
}

.btn-eliminar:hover {
  background-color: darkred;
  /* transform: rotate(10deg); */
}

