.content {
  display: flex;
  min-height: 1080px;
}

.column-1 {
  width: 100%;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.column-2 {
  width: 0%;
}

.todas-las-rutas {
  width: 100%;
  min-height: 300px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 40px;
  background-image: url('../img/pano.png');
  background-size: cover;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.column-1 a {
  display: flex;
  justify-content: center;
  width: calc(75% - 60px);
  margin: 30px;
}

.contenedor-intro {
  width: calc(75% - 90px);
  height: auto;
  border: 1px solid #ddd;
  margin: 20px;
  border-radius: 10px;
  padding: 25px;
  font-size: 15px;
  text-align: justify;
  color: #5e451e;
  background-color: #f7f7f7;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

/* Media query para reducir el tamaño de fuente en pantallas más pequeñas */
@media (max-width: 768px) {
  .content {
    flex-direction: column;
  }

  .column-1,
  .column-2 {
    width: 100%;
  }

  .todas-las-rutas {
    font-size: 30px;
    min-height: 150px;
  }

  .column-1 a {
    width: calc(100% - 30px);
  }

  .contenedor-intro {
    width: calc(100% - 80px);
  }
}

/* Para eliminar el subrayado de enlaces que pone por defecto el navegador */
a:-webkit-any-link {
  text-decoration: none;
}