.content {
  display: flex;
  min-height: 710px;
}

.column-1 {
  width: 80%;
  min-height: 500px;
  /* background-color: lightblue; */
}

.column-2 {
  width: 20%;
  /* background-color: lightskyblue; */
}

@media (max-width: 868px) {
  .content {
    flex-direction: column;
  }

  .column-1,
  .column-2 {
    width: 100%;
  }
}

.todas-las-rutas {
  width: calc(100% - 60px);
  min-height: 300px;
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 40px;
  margin: 30px;
  background-image: url('../img/pano.png');
  background-size: cover;
}

/* Media query para reducir el tamaño de fuente en pantallas más pequeñas */
@media (max-width: 768px) {
  .todas-las-rutas {
    font-size: 30px;
    min-height: 150px;
  }
}

@media (max-width: 576px) {
  .todas-las-rutas {
    font-size: 20px;
  }
}

