.contenedor-intro {
  width: calc(75% - 90px);
  height: auto;
  border: 1px solid #5e451e;
  margin: 20px;
  border-radius: 10px;
  padding: 25px;
  font-size: 15px;
  text-align: justify;
  box-shadow: 0px 0px 20px #8b7653;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  backdrop-filter: blur(100px);
}

.logo img {
  max-width: 250px;
  max-height: auto;
}

.text {
  padding: 30px;
}

@media screen and (max-width: 768px) {
  .contenedor-intro {
    flex-direction: column;
    width: calc(100% - 80px);
  }

  .text {
    padding: 0px;
  }
}