.contenedor-intro {
    width: calc(100% - 90px);
    height: auto;
    border: 1px solid black;
    margin: 20px;
    border-radius: 10px;
    padding: 25px;
    background-color: beige;
    font-size: 15px;
}