.fondo {
  background-image: url(../img/retina_wood.png);
  background-repeat: repeat;
}

.perfil-content {
  min-height: 50vh;
  max-width: 900px;
  margin: 0 auto;
  padding: 2rem;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
}

.titulo {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.contenedor-botones {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.contenedor-boton-individual {
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin: 20px 10px 20px 10px; */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 870px) {
  .contenedor-botones {
    flex-direction: column;
  }

  .contenedor-boton-individual {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

/* h1 {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  margin-bottom: 1rem;
} */

.perfil-input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.perfil-input-container input {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

.perfil-button {
  background-color: #28a745;
  color: #fff;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  height: 50px;
  width: 200px;
  margin-bottom: 30px;
}

.perfil-button:hover {
  background-color: #218838;
}

.error-message {
  color: red;
  margin-top: 0.5rem;
}