.fondo {
  background-image: url(../img/retina_wood.png);
  background-repeat: repeat;
}

.perfil-content {
  min-height: 100vh;
  max-width: 900px;
  margin: 0 auto;
  padding: 2rem;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  margin-top: 30px;
  margin-bottom: 30px;
}

h1 {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.perfil-input-container input {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

.perfil-button {
  background-color: #28a745;
  color: #fff;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.perfil-button:hover {
  background-color: #218838;
}

.error-message {
  color: red;
  margin-top: 0.5rem;
}