.share-container {
  display: flex;
  align-items: center;
}

.share-button {
  margin-right: 8px;
}

.share-input {
  flex: 1;
  margin-right: 8px;
}

.btn {
  color: #5e451e;
  background-color: #E8D2B1;
}

.btn:hover {
  background-color: #d2bd9f;
}

.copy-url-message {
  text-align: center;
}