.fondo {
  background-image: url(../img/retina_wood.png);
  background-repeat: repeat;
  min-height: 983px;
}

.contenedor-crud {
  max-width: 900px;
  margin: 0 auto;
  padding: 30px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
  margin-top: 30px;
  margin-bottom: 30px;
}

.contenedor-crud li {
  width: auto;
  min-height: 50px;
  font-size: 20px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  transition: all 0.1s;
  font-weight: 600;
  margin: 10px;
  cursor: pointer;
}

.contenedor-crud h1 {
  font-size: 24px;
  text-align: center;
  font-weight: bold;
  color: #725d3f;
  margin: 30px;
}

.user-item span {
  text-align: center;
  color: #725d3f;
  font-size: 20px;
}

.user-item {
  width: 100%;
  margin-bottom: 16px;
  padding: 8px;
  background-color: #f0f0f0;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.user-name {
  width: auto;
  cursor: pointer;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px;
}

.user-form {
  width: 70%;
  margin-top: 8px;
  margin: 30px;
}

.user-form .form-input {
  display: block;
  width: 100%;
  padding: 8px;
  margin-bottom: 8px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.no-currentPage {
  background-color: #E8D2B1;
  color: #5e451e;
  margin: 5px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.no-currentPage:hover {
  background-color: #d2bd9f;
}

.currentPage {
  background-color: #5e451e;
  color: #d2bd9f;
}

.currentPage:hover {
  background-color: #5e451e;
}

@media screen and (max-width: 768px) {
  .user-item {
    flex-direction: column;
  }

  .user-form {
    width: auto;
    margin: 0px;
  }

  .user-item {
    padding: 0%;
  }

  .contenedor-crud {
    margin: 10px;
  }

  .user-item span {
    font-size: 16px;
  }
}