.fondo {
  background-image: url(../img/retina_wood.png);
  background-repeat: repeat;
}

.contenedor {
  min-height: 70vh;
  max-width: 900px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.contenedor li {
  font-size: 20px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  transition: all 0.1s;
  font-weight: 600;
  cursor: pointer;
}

.user-item {
  width: 100%;
  margin-bottom: 16px;
  padding: 8px;
  background-color: #f0f0f0;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.user-name {
  width: auto;
  cursor: pointer;
  flex-grow: 1;
}

.user-form {
  width: 70%;
  margin-top: 8px;
  margin: 30px;
}

.form-input {
  display: block;
  width: 100%;
  padding: 8px;
  margin-bottom: 8px;
  border: none;
  border-radius: 4px;
}

@media screen and (max-width: 768px) {
  .user-item {
    flex-direction: column;
  }
  .user-form {
    width: auto;
    margin: 0px;
  }
  .user-item {
    padding: 0%;
  }
  .contenedor {
    margin: 10px;
  }
}